.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .container > div {
    display: flex;
  }
  
  .miInput {
    margin-left: 20px;
    margin-right: 1500px;
  }
  